@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <buttton class="btn btn-primary" onclick="Generate_Onclick()">PDF Generate & Download </buttton>
</div>
<script>
    function Generate_Onclick() {
        var link = document.createElement('a');
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/")" + "api/action/pdfcreate",
            dataType: 'json',
            success: function (data) {
                //console.log(data);
                link.href = '../../Sample.pdf';
                link.download = 'Sample.pdf';
                link.dispatchEvent(new MouseEvent('click'));
            },
            complete: function (data) { }
        });
    }
</script>